[user]
	name = Robin Bolscher
	email = robinbolscher@gmail.com
[color]
	ui = true
[core]
	excludesfile = /Users/robinbolscher/.gitignore
	editor = code --wait
[pull]
	ff = only
	rebase = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
	ff = no
[mergetool "vscode"]
  cmd = code --wait $MERGED
[commit]
	template = /Users/robinbolscher/.stCommitMsg
[safe]
	directory = /Users/robinbolscher/development/homey-matter/third_party/connectedhomeip
	directory = /Users/robinbolscher/development/homey-matter/third_party/connectedhomeip
	directory = /Users/robinbolscher/development/homey-matter/third_party/connectedhomeip
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
